<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.oauth.core.password.mapper.BasePasswordPolicyMapper">
    <select id="findByOrgId" databaseId="mysql" resultType="io.choerodon.oauth.core.password.domain.BasePasswordPolicyDO">
        select * from oauth_password_policy where organization_id = #{orgId} limit 1
    </select>

    <select id="findByOrgId" databaseId="oracle" resultType="io.choerodon.oauth.core.password.domain.BasePasswordPolicyDO">
        <![CDATA[
          select * from oauth_password_policy where organization_id = #{orgId} and ROWNUM <= 1
        ]]>
    </select>
</mapper>
